
  <div class="balloons-background-image"></div>

    <div class="jumbotron">
      <h1>Today is the Day!</h1>
      <p>
      <h2>please enter a birthdate!</h2>
      <br>

      <%= form_for @collection do |f| %>
      
      <%= f.text_field :to_name, :placeholder => " Name" %>
      <%= f.date_field :date %>
      <%= f.submit "submit", :class => "btn btn-primary" %>
      
    <% end %>
      </p>
      
    </div>
    <br>
    <div class="jumbotron">
      <h3>TEST TEST</h3>
    </div>
  

